<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">##</th>
      <th scope="col">Product Image</th>
      <th scope="col">Product Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of Products; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td><img class="mr-2" src="{{ product?.image_url }}" height="50" width="50"></td>
      <td>{{ product?.name }}</td>
      <td>{{ product?.description }}</td>
      <td>{{ product?.price | number }} $</td>
    </tr>
    </tbody>
  </table>

  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [(page)]="page" [(pageSize)]="pageSize"></ngb-pagination>