<div class="container">
    <div class="form-group mt-5">
        <div class="row">
            <div class="col-md-9 offset-md-1">
                <input (input)="search()" [(ngModel)]="query" id="typeahead-basic" type="text" class="form-control" placeholder="Enter a product to be searched" />
            </div>
            <div class="col-md-1 text-right">
                <button class="btn btn-outline-secondary">Search</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 my-3" *ngFor='let product of products$'>
            <div class="card">
                <img class="card-img-top" [src]='product?.image_url' alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">{{ product?.title }}</h5>
                    <p class="card-text">{{ product?.description }}</p>
                    <p class="card-text"><small class="text-muted">₹{{ product?.price }}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>